/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.center-object{
    margin: 0 auto;
    text-align: center;
}

.center_start--object{
    margin: 22em auto;
    text-align: center;
}