<div class="container">
    <div class="row">
        <div class="col-12 center_start--object">
            <mat-icon aria-hidden="false">shopping_cart</mat-icon>
            <h2 class="mat-display-4 text-center" class="m-0">Help 2 Buy</h2>
            <button class="text-uppercase" mat-raised-button color="primary" [routerLink]="['/category']" routerLinkActive="router-link-active" >
                Começar <mat-icon aria-hidden="false" >keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </div>
</div>